/* Tela toda branca e centralizada */
ion-content.login-content {
  --background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

h1 {
  text-align: center;
  color: #334A80;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left:35px;
  margin-top:35px;
}

.input-container {
  display: flex;
  width: 100%;
  margin-left:20px;
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;   /* fundo branco */
  color: #000;              /* texto digitado preto */
}

/* Placeholder preto */
.input-field::placeholder {
  color: #000;
  opacity: 1;
}

.login-button {
  --background: #334A80;
  --color: #fff;
  font-weight: 600;
  --border-radius: 8px;
  margin-left:35px;
  margin-top:85px;
}

/* Links adicionais */
.link1 {
  display: block;        /* para poder usar margin-left/margin-right */
  margin-left: 120px;     /* ajuste horizontal do link */
}

.link1 p {
  margin: 0;
  font-size: 0.9rem;
}

.link1 a {
  color: #334A80;
  font-weight: 600;
  text-decoration: none;
}




.link2 {
  display: block;        /* para poder usar margin-left/margin-right */
  margin-left: 130px;     /* ajuste horizontal do link */
}

.link2 p {
  margin: 0;
  font-size: 0.9rem;
}

.link2 a {
  color: #334A80;
  font-weight: 600;
  text-decoration: none;
}


