<ion-header>
  <ion-toolbar>
    <ion-title>Crie sua conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-content">
  <div class="login-wrapper">
    <div class="login-container">
      <img src="assets/logo.png" class="logo" alt="Logo">

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirme a senha</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="register()">Criar conta</ion-button>

      <p class="register-link">
        Já tem uma conta? <a routerLink="/login">Entrar</a>
      </p>
    </div>
  </div>
</ion-content>
