<ion-header>
  <ion-toolbar>
    <ion-title>ToDo List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddModal()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding todos-content">
  <ion-list>
    <ion-item *ngFor="let todo of todos" class="todo-item">
      <ion-label>
        <h2>{{ todo.title }}</h2>
        <p>{{ todo.description }}</p>
      </ion-label>
      <ion-button color="primary" (click)="openEditModal(todo)">Editar</ion-button>
      <ion-button color="danger" (click)="deleteTodo(todo.id)">Excluir</ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="medium" (click)="logout()">Sair</ion-button>
</ion-content>
