<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" fullscreen>
  <div class="login-wrapper">
    <div class="login-container">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <h2>Bem-vindo de volta!</h2>
      <p>Entre na sua conta para continuar</p>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">Entrar</ion-button>

      <p class="register-link">
        Não tem uma conta? <a routerLink="/register">Criar conta</a>
      </p>
    </div>
  </div>
</ion-content>
